<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>  
  <div style="width: 100%; display: flex; flex-wrap:wrap; text-align: center;">
    <img src="" alt="" style="width: 40%;">
    <div style="width: 60%;">
      <h1>BOLETA DE CALIFICACIONES</h1>
      <p>***********Boleta de calificaciones para escuelas y/o institutos privados***********</p>
    </div>
    <div style="width: 100%; display: flex; flex-direction: row;">
      <div>
        <h4>Codigo de alumno: </h4>
        <p></p>
      </div>
      <div>
        <h4>Nombre completo del alumno: </h4>
        <p></p>
      </div>
      <div>
        <h4>Informacion del grado: </h4>
        <p></p>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-bordered border-primary">
      <thead>
        <tr>
          <th colspan="2">Nombre del curso</th>
          <th scope="col">Unidad 1</th>
          <th scope="col">Unidad 2</th>
          <th scope="col">Unidad 3</th>
          <th scope="col">Unidad 4</th>
          <th scope="col">Promedio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">Ingles curso</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
